<!-- Footer -->
<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.linkedin.com/in/mubasher-ahmed-6a0b57398"
            aria-label="LinkedIn"
          >
            <img
              class="main-footer__icon"
              src="./assets/png/linkedin-ico.png"
              alt="LinkedIn"
            />
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/Mubasher-Ahmed7">
            <img
              class="main-footer__icon"
              src="./assets/png/github-ico.png"
              alt="GitHub"
            />
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.upwork.com/freelancers/~01c1a192b9c3c193a3"
          >
            <img
              class="main-footer__icon"
              src="./assets/svg/upwork-ico.svg"
              alt="Upwork"
            />
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.freelancer.com/u/mubasharahmed131?sb=t"
          >
            <img
              class="main-footer__icon main-footer__icon--mr-none"
              src="./assets/svg/freelancer-ico.svg"
              alt="Freelancer"
            />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">Mubasher Ahmed</h4>
        <p class="main-footer__short-desc">
          Full Stack JavaScript Developer building modern, responsive, and
          high-performance web applications with React, Node.js, and Firebase.
        </p>
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; Copyright
      <script>document.write(new Date().getFullYear())</script>
      . Made by
      <a rel="noreferrer" target="_blank" href="https://github.com/Mubasher-Ahmed7"
        >Mubasher Ahmed</a
      >
    </div>
  </div>
</footer>